<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="KloutApiConsumer Test Suite">
            <directory suffix="Test.php">./test/Klout/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Klout/</directory>
        </whitelist>
    </filter>
</phpunit>